.offlineCheckboxCont {
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.75rem;
	align-items: left;
	width: 90%;
	margin: 0 auto;
}
.offlineCheckboxCont p {
	font-size: 0.65rem;
	text-align: center;
	color: var(--lightGrey);
}
.light .offlineCheckboxCont p {
	color: var(--primary);
}
#offlineCheckbox {
	width: 20px;
	height: 20px;
	padding: 3px;
}

#offlineCheckbox[data-state='checked'] {
	background: transparent;
	border: 1px solid var(--primary);
}
#offlineCheckbox[data-state='unchecked'] {
	background: transparent;
	border: none !important;
	border: 1px solid var(--primary) !important;
}
#offlineCheckbox[data-state='checked'] svg {
	height: 20px;
	margin-top: -3px;
	stroke-width: 4px;
	stroke: var(--primary);
}
.offlineCheckboxCont .option {
	display: flex;
	column-gap: 0.5rem;
	color: var(--primary);
}
.offlineCheckboxCont label {
	color: var(--primary);
}
