.settingsDrawer:has(.backgroundOptions) {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	align-items: center;
}
.settingsDrawer:has(.backgroundOptions) > div:first-child {
	font-size: 0.85rem;
	color: #ccc;
	max-width: 90%;
	margin: 0 auto;
}

.backgroundOptions {
	display: flex;
	flex-direction: row;
	column-gap: 0.5rem;
	width: 100%;
	justify-content: space-evenly;
}
.backgroundOption {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;
	cursor: pointer;
	font-size: 0.9rem;
	height: 100%;
	justify-content: space-between;
}
.backgroundOption svg {
	fill: #fff;
	opacity: 0.25;
}
.backgroundOption:hover svg {
	opacity: 1;
}
.backgroundOption.active svg {
	opacity: 1;
}
