@import '@/src/globals.css';
.scenarios .scenariosGroup {
	width: 90%;
	margin: 0 auto;
	line-height: 1.1;
}
.scenariosGroup button {
	all: unset;
}
.scenariosGroup button {
	background-color: transparent;
	transform: scale(1);
	padding: 16px 12px;
	font-size: 1.2rem;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
	display: flex;
	outline: 1px solid #ababab;
	color: var(--lightBlue);
}
.scenariosGroup button:hover {
	font-weight: 600;
	background-color: transparent;
	color: var(--primary);
}
.scenarioDialog {
	overflow-y: scroll;
	max-height: 100vh;
}
.scenarioDialog div[role='dialog'][data-state='open'] button {
	background-color: transparent;
	transform: scale(1);
	/* padding: 7px 12px; */
	padding: 3px;
	/* border-radius: 8px; */
	transition: all 0.3s ease-in-out;
	display: flex;
	outline: 1px solid #ababab;
	color: var(--primary);
}

div[role='dialog'][data-state='open'] button:hover {
	background-color: transparent;
	color: var(--primary);
	outline: 1px solid var(--primary);
}
div[role='dialog'][data-state='open'] button:focus,
div[role='dialog'][data-state='open'] button:active,
div[role='dialog'][data-state='open'] button:focus-within {
	/* border: none; */
	outline: 1px solid var(--primary);
	box-shadow: none;
}
div[role='dialog'][data-state='open'] {
	background-color: var(--blueBackground);
	border: none;
	/* //	border: 1px solid #ababab; */
	color: var(--primary);
	min-height: 50vh;
	padding-bottom: 3rem;
}
div[role='dialog'][data-state='open'] > div {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	color: var(--primary);
	margin-top: 1rem;
}
div[role='dialog'][data-state='open'] > div h2 {
	font-size: 1.35rem;
	letter-spacing: 0.03rem;
	font-weight: 500;
}
div[role='dialog'][data-state='open'] > div h2::after {
	content: '';
	display: inline-block;
	width: 60%;
	height: 1px;
	background-color: var(--lightBlue);
	margin: 0 auto;
}
div[role='dialog'][data-state='open'] > div > * {
	color: var(--primary);
	font-size: 1.1rem;
	line-height: 1.4;
}
div[role='dialog'][data-state='open'] > div > p {
	text-align: left;
	font-weight: 400;
}
.AccordionItem[data-state='open'] .scenarios {
	display: grid;
}
.AccordionItem[data-state='closed'] .scenarios {
	display: none;
}
.scenarios {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1.25rem;
	padding: 0.5rem 0;
	margin: 0.5rem 0;
	font-weight: 500;
	color: var(--lightGrey);
}
.scenarios .title {
	color: var(--primary);
}
.scenariosGroup {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 0.5rem;
	justify-content: space-evenly;
	column-gap: 1rem;
}

.scenariosGroup button {
	border: none;
	outline: 1px solid #ababab;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.AccordionItem[data-state='open'] .scenariosGroup .btn.scenario button:hover {
	color: var(--primary);
	outline: 2px solid var(--lightBlue);
}
div.scenarioDialog[role='dialog'][data-state='open'] {
	display: flex;
	flex-direction: column;
	row-gap: 1.25rem;
	justify-content: space-around;
	padding-top: 3rem;
	width: 100%;
	max-width: 100vw;
	overflow: auto;
}
.scenarioDialog h2 {
	font-size: 1.5rem;
	line-height: 1.2;
	padding-bottom: 0.5rem;
	position: relative;
	text-decoration-color: var(--yellow);
	text-decoration-thickness: 4px;
	text-decoration-line: underline;
}
.scenarioDialog b {
	position: relative;
	display: inline-block;
}
.scenarioDialog b::after {
	content: ' ';
	width: 90%;
	height: 14px;
	background-color: var(--yellow);
	opacity: 0.4;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	margin-top: 12px;
	margin-left: -4px;
}
.scenarioDialog b::after {
	width: 110%;
	margin-top: 14px;
	margin-left: -5%;
}
.scenarioDialog u {
	text-decoration-color: var(--yellow);
	text-decoration-thickness: 4px;
	font-weight: 600;
}
