:root {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color-scheme: light dark;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;
	--user-scale: 1;
}
*,
:before,
:after {
	box-sizing: border-box;
}
html {
	width: 100%;
	min-height: 100vh;
}
body {
	width: 100%;
	/* height: 100%; */
	font-size: 18px;
	color: #fff;
	padding: 0 0 2rem 0;
	background: #1b869e;
	background: linear-gradient(
		140deg,
		rgba(27, 134, 158, 1) 0%,
		rgb(157, 30, 30) 81%
	);
	font-synthesis: style;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
#root {
	max-width: 90vw;
	width: 90vw;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
.footer {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;

	margin: 0.25rem 1.25rem;
	color: #fff;
	text-align: center;
	width: 100%;
	background-color: transparent;
	/* box-shadow: 0 2px 10px var(--black-a4); */
	margin: 0 auto;
	margin-top: 2rem;
}
.footer .install {
	font-size: 0.75rem;
	margin: 0.5rem 0;
	color: #ccc;
}
.footer .links {
	display: flex;
	justify-content: space-evenly;
}
.footer .links a {
	border: 1px solid #bcb6ea;
	padding: 0.25rem 0.5rem;
	border-radius: 8px;
}

.logo {
	height: 18vh;
	max-height: 300px;
	min-height: 100px;
	padding-top: 1em;
	will-change: filter;
	transition: filter 300ms;
}

.card {
	padding: 0.5rem 0;
	width: 50%;
}
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	row-gap: 0.25rem;
	margin: 0 auto;
	padding: 0;
}
body h1 {
	font-size: 2.2rem;
	line-height: 1.1;
	/* margin: 0.5rem 0; */
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: #fff;
	max-width: 90%;
	width: 90%;
	/* /word-break: break-all; */
	word-wrap: break-word;
}
body h1:after {
	content: ' ';
	display: block;
	width: 60%;
	height: 1px;
	border-bottom: 1px solid #bcb6ea;
	margin: 0.5rem auto;
}
body h3 {
	font-size: 1.8rem;
	line-height: 1.1;
	margin: 0.75rem 0;
	font-weight: 700;
}
.subtitle {
	font-size: 1rem;
	color: #8dff71;
	font-weight: 400;
}
.content {
	width: 100%;
}
.acronym-accordion {
	width: 100%;
}
.accordion-item {
	width: 25%;
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
